.profile__name-edit {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .profile__name_edit {
    margin-left: 32px;
  }
}
