.sign__name{
    background: none;
    width: 100%;
    padding: 0 0 11px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: white;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 2px solid white;
}

.sign__name:focus {
    outline: none;
  }

@media all and (min-width: 320px) and (max-width: 767px) {
    .sign__name{
        border-bottom: 1px solid white;
    }
}
