.profile__image-hover {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 120px;
  height: 120px;
  background-image: url(../../../images/pen.svg);
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: center;
  z-index: 1;
  outline: none;
}


.profile__image-hover:hover {
opacity: 1;
background-color: rgba(0, 0, 0, 0.8);
}

.profile__image-hover:focus {
  opacity: 0;
}

/* .profile__image-hover:active {
  opacity: 0;
} */